# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Binarios ROMS
roms/
chip8

# Vscode 
.vscode/

### Android
# Cache y compilación de Android
chip8-android/.gradle/
.gradle/
chip8-android/.idea/
.idea/
*.iml
chip8-android/build/
chip8-android/app/build/
chip8-android/app/.cxx/

# Binarios generados por el NDK
chip8-android/app/jni/obj/
chip8-android/app/jni/libs/
chip8-android/app/obj/
chip8-android/app/libs/

# Archivos locales
local.properties
chip8-android/local.properties

# Roms de android
chip8-android/app/src/main/assets/*
!chip8-android/app/src/main/assets/.gitkeep